<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>

<body>
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
        {% if producto.imagen %}
            <img src="{{ producto.imagen.url }}" width="200">
        {% else %}
            <p>Sin imagen</p>
        {% endif %}
        <li>{{ producto.nombre }} - {{ producto.precio }} -  <a href="{% url 'comprar_producto' producto.id %}">Comprar</a></li>
        {% empty %}
        <li>No hay productos disponibles.</li>
        {% endfor %}
    </ul>
</body>

</html>